.searchInput {
  font-family: 'Manrope-extra-bold';
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #1a181b;
}
.searchInput::-webkit-input-placeholder {
  font-family: 'Manrope-extra-light';
  color: #9b939f;
}
.searchInput:-ms-input-placeholder {
  font-family: 'Manrope-extra-light';
  color: #9b939f;
}
.searchInput::placeholder {
  font-family: 'Manrope-extra-light';
  color: #9b939f;
}
