.logindiv {
  opacity: 90%;
  background-color: #1a181b;
  padding-top: 75px;
  height: 100vh;
}
.lowerdiv {
  margin-top: auto;
  max-width: 375px;
  width: 100%;
  text-align: center;
}

.disclaimer {
  max-width: 375px;
  margin: 120px 20px 0 20px;
  text-align: center;
}
.loginCommonBtn {
  max-width: 375px;
  width: 100%;
  padding: 1rem;
}
