.login-div {
  opacity: 90%;
  background-color: #1a181b;
  padding-top: 75px;
  height: 100vh;

  .popup-div {
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
    height: 100%;

    .back-button {
      width: 40px;
      height: 40px;
      background-color: #f5f4f5;
      border-radius: 15px;
      position: absolute;
      top: 20px;
      left: 20px;
      color: #1A181B;
    }

    .image-div {
      width: 104px;
      height: 147px;
      margin-top: 23.91px;
      background: url('/assets/images/emote-bg.svg');
    }

    .title-div {
      margin: 0 20px 0 20px;
      width: 375px;

      h1 {
        font-size: 20px;
        line-height: 30px;
        color: #1a181b;
      }
      p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 29px;
        color: #4e4851;
      }
    }

    .desc-div {
      margin: 0 20px 0 20px;

      h1 {
        font-size: 16px;
        color: #4e4851;
        line-height: 29px;
        max-width: 335px;

        span {
          color: #ea4848;
        }
      }
    }

    .phone-input-div {
      margin: 0 20px 0 20px;
      width: 375px;

      .react-tel-input {
        border: 1px solid #e6e4e7;
        border-radius: 20px;
        padding: 5px 10px;

        .flag-dropdown {
          background: #fff;
          border: none;
        }

        input {
          border: none;
          outline: none;
          font-family: Manrope-extra-light;
        }
      }
    }

    .otp-input-div {
      margin: 20px 20px 0 20px;

      .four-input-div {
        width: 265px;

        input {
          font-family: Manrope-extra-light;
          width: 55px;
          height: 55px;
          border: 1px solid #e6e4e7;
          border-radius: 20px;
          outline: none;
          text-align: center;
        }
      }
    }

    .social-sign-div {
      margin-top: 40px;
      width: 375px;
      text-align: center;

      a {
        text-decoration: underline;
        font-family: 'Manrope-extra-bold';
        font-size: 12px;
        color: #1a181b;
      }
    }

    .otp-helper-sign-div {
      margin-top: 40px;
      width: 375px;
      text-align: center;

      p {
        color: #4e4851;
        line-height: 18px;
        font-size: 12px;
      }
    }

    .disclaimer {
      width: 375px;
      margin: auto 20px 0 20px;
      text-align: center;

      p {
        font-family: Manrope-extra-light;
        font-size: 12px;
        color: #9b939f;
        line-height: 22px;
      }
    }

    .request-otp-btn {
      margin: 20px;
      width: 375px;

      button {
        width: 100%;
        height: 60px;
        background: #1a181b;
        border-radius: 20px;
        font-family: Manrope-extra-bold;
        color: #fff;
        font-size: 12px;
        outline: none;
      }
    }
    .verify-otp-btn {
      margin: auto 20px 20px 20px;
      width: 375px;

      button {
        width: 100%;
        height: 60px;
        background: #1a181b;
        border-radius: 20px;
        font-family: Manrope-extra-bold;
        color: #fff;
        font-size: 12px;
        outline: none;
      }
    }
  }
}
