.progressBar {
	position: relative;
	height: 10px;
	border-radius: 4px;
	background: #f5f4f5;
}

.filler {
	height: 100%;
	border-radius: inherit;
	transition: width 0.2s ease-in;
}

.red {
	background: var(--text-color-red);
}
.black {
	background: #1a181b;
}
