.socialSignupButton {
	height: 55px;
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.03), 0 0 10px 0 rgba(0, 0, 0, 0.03);
	background-color: #ffffff;
    transition: 200ms;
}
.socialSignupButton:hover {
	box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.03), 0 0 8px 0 rgba(0, 0, 0, 0.03);
    transform: scale(0.98);
}
