@font-face {
  font-family: Manrope-extra-light;
  src: url('/fonts/Manrope-ExtraLight.ttf');
}

@font-face {
  font-family: Manrope-extra-bold;
  src: url('/fonts/Manrope-ExtraBold.ttf');
}
@font-face {
  font-family: Manrope-regular;
  src: url('/fonts/Manrope-Regular.ttf');
}
@font-face {
  font-family: Manrope-semibold;
  src: url('/fonts/Manrope-SemiBold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/containers/login/styles.scss';
@import 'components/containers/landing/styles.scss';


.react-tel-input {
  .flag-dropdown {
    background: #fff !important;
    border: none !important;
  }
}

