.docStatusCard {
  border-radius: 20px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.03), 0 0 10px 0 rgba(0, 0, 0, 0.03);
}
.docStatusCard:hover {
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.07), 0 0 10px 0 rgba(0, 0, 0, 0.07);
}

.status {
  color: #ffb600;
}
