.backbutton {
  width: 40px;
  height: 40px;
  background-color: #f5f4f5;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #1a181b;
}
.otpinput {
  font-family: Manrope-extra-light;
  width: 55px;
  height: 55px;
  border: 1px solid #e6e4e7;
  border-radius: 20px;
  outline: none;
  text-align: center;
}
