.section-subheading{
  font-family: Manrope-extra-light;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.813;
  color: #4E4851;
}

.section-description{
  font-family: Manrope-extra-light;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.786;
  color: #9B939F;
}