@keyframes slidy {
    0% { left: 0%; }
    30% { left: 0%; }
    60% { left: -100%; }
    66% { left: -100%; }
    100% { left: -200%; }
    /*65% { left: -200%; }*/
    /*75% { left: -300%; }*/
    /*95% { left: -300%; }*/
    /*100% { left: -400%; }*/
}

/*body { margin: 0; }*/
.slider { overflow: hidden;}
.sliderImage { width: 33.33%; float: left; }
.figure {
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: slidy 10s infinite;
}










/*.slider{*/
/*    !*transition: all 1.5s ease;*!*/
/*    transition: transform 1s;*/
/*}*/
/*.processDisplay_slider__y-3qf{*/
/*    transition: transform 1s;*/
/*    transition: all 0.5s ease;*/
/*}*/

/*.sliderout{*/
/*    !*left: 0;*!*/
/*    !*transform: translate(-250px, 0px);*!*/
/*    transform: matrix(0.9, 0, 0, 0.9, -500, 0);*/
/*}*/
/*.slider0{*/
/*    background-color: aqua;*/
/*    !*left: 0;*!*/
/*    !*transform: translate(-250px, 0px);*!*/
/*    transform: matrix(0.9, 0, 0, 0.9, -50, 0);*/
/*}*/
/*.slider1 {*/
/*    transform: matrix(0.9, 0, 0, 0.9, -50, 0);*/
/*}*/
/*.slider2 {*/
/*    transform: matrix(0.9, 0, 0, 0.9, -50, 0);*/
/*}*/