
.inputClass {
  border: none !important;
  outline: none !important;
  font-family: Manrope !important;
}

.containerClass {
  border: 1px solid #e6e4e7;
  border-radius: 20px;
  padding: 5px 10px;
}

.dropdownClass {
    background: #fff !important;
    border: none !important;
}
