.options {
	display: flex;
	height: 4rem;
	margin: 0 0 2.5rem 0;
	padding: 0.625rem 0 0.625rem 1.25rem;
	background-color: #f5f4f5;
	overflow-y: hidden;
	overflow-x: scroll;
}

.buttonStyle {
	height: 2.5rem;
	margin: 0 1rem 0 0;
	padding: 0.5rem 1.25rem 0.675rem 1.25rem;
	border-radius: 1rem;
	background-color: #ffffff;
	min-width: max-content;
	text-align: center;
}
